/*******************
 backend/jobs.config
 *******************

 'backend/jobs.config' is a Velo configuration file that lets you schedule code to run repeatedly at specified intervals.

 Using scheduled jobs you can run backend code without any user interaction. For example, you could generate a weekly
 report or run nightly data cleansing.

 You schedule code to run by creating a job.
 Each job defines which function to run and when to run it.

*******************/

// The following code is an example of a job. Adapt the code for your specific use case.
{
 "jobs": [{
         // Option 1: Define execution interval using a cron expression
         "functionLocation": "/server/index.js(w)", // Relatively to Backend folder, started by slash
         "functionName": "handleSpotifyAPI",
         "description": "Add Track To Playlist", // Optional
         "executionConfig": {
             "cronExpression": "45 10 * * *" // Set a recurrence of no less than 1 hour
             // Read about Cron expressions: [https://en.wikipedia.org/wiki/Cron#CRON_expression]
         }
     },
 ]
}